n8n/workflows/chapter-runtime-demo.json
{
  "name": "chapter-runtime-demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chapter-run",
        "responseMode": "responseNode"
      },
      "id": "Webhook_1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://runtime:8100/api/v1/chapters/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}"
      },
      "id": "HTTP_Request_1",
      "name": "Call Runtime",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond_1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Call Runtime", "type": "main", "index": 0}]]
    },
    "Call Runtime": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
